{% extends "abstract/root.html" %}

{% block body %}
  <!-- navbar -->
  {% block navbar %}
    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <span class="mega-octicon octicon-file-text"></span>
          Tagr
          <span style="font-size: small">find key phrases in the document as tags</span>
        </a>
        <nav class="masthead-nav">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="https://github.com/idf/tagr" target="_blank">GitHub</a>
        </nav>
      </div>
    </header>
  {% endblock %}



  {% block mainbody %}
  {% endblock %}


  <!-- footer -->
  {% block footer %}
    <footer class="footer">
      <a href="https://github.com/idf">https://github.com/idf</a> 2015 <br>
      Created and maintained by Daniel D. Zhang <strong>Currently v0.0.1.</strong>
    </footer>
  {% endblock %}
{% endblock %}