{% extends "abstract/base.html" %}
{% block title %}Tagr|About{% endblock %}
{% block mainbody %}
  <div class="container">
    <div class="columns">
      <div class="three-fourths column centered">
        <div class="blankslate">
          <span class="mega-octicon octicon-git-commit"></span>
          <span class="mega-octicon octicon-tag"></span>
          <span class="mega-octicon octicon-git-branch"></span>
          <h1>About</h1>
          <p>Tagr: extremely fast to find key phrases in the document as tags.</p>
          <p>Algorithm: <a href="http://www.researchgate.net/profile/Stuart_Rose/publication/227988510_Automatic_Keyword_Extraction_from_Individual_Documents/links/55071c570cf27e990e04c8bb.pdf">
            Rapid Automatic Keyword Extraction (RAKE) algorithm</a></p>
        </div>
      </div>
    </div>
  <div>
{% endblock %}