{% extends "abstract/base.html" %}
{% block mainbody %}
  <div class="container">
    <div class="columns">
      <div class="one-half column centered">
        <div class="blankslate">
          <span class="mega-octicon octicon-git-commit"></span>
          <span class="mega-octicon octicon-tag"></span>
          <span class="mega-octicon octicon-git-branch"></span>
          <h1>About</h1>
          <p>Use it to provide information when no dynamic content exists.</p>
        </div>
      </div>
    </div>
  <div>
{% endblock %}